/*Colours
Background: #F4F4F2
Buttons/Jewellery Active: #1253A4
Button inactive: #FFD464;
Links: #F26964;
Text: #30302F*/

body {
    background-color: #F2F2F3;
    color: #545454;
}

.timerContainer {
	width: 300px;
	margin-top: 20px;
	margin-bottom: 1px;
}

.contentSection {
  padding-top: 10px;
  padding-bottom: 10px;
}

.timer {
	margin-left: 15%;
  height: 30px;
}

.otp {
	width: 70%;
  height: 40px;
  float: left;
  padding-left: 0px;
}

.inputForms .form-group {
	padding-top: 10px;
}

.row {
	padding-top: 10px;
}

#timeIcon {
  padding-top: 2px;
}

.qrCode {
	text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#footer {
  width: 300px;
  padding-left: 10px;
}

.titleLabel {
  padding-bottom: 5px;
  padding-top: 5px;
}

#OTPLength {
  float: left;
  padding-right: 20px;
}


/* unvisited link */
a:link {
    color: #6E6E6E;
}

/* visited link */
a:visited {
    color: #6E6E6E;
}

/* mouse over link */
a:hover {
    color: #6E6E6E;
}

/* selected link */
a:active {
    color: #6E6E6E;
}

#icon {
  height: 75px;
  width: 75px;
}

#header {
  text-align: center;
}